{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-5">
  <div class="card card-dark"><div class="card-body p-4">
    <h1 class="h4">Recuperar senha</h1>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label class="form-label">E-mail cadastrado</label>
      <input class="form-control mb-3" name="email" type="email" required>
      <button class="btn btn-success w-100">Enviar instruções</button>
    </form>
  </div></div>
</div></div>
{% endblock %}
