{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-5">
  <div class="card card-dark"><div class="card-body p-4">
    <h1 class="h4">Criar nova senha</h1>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <label class="form-label">Nova senha</label>
      <input class="form-control mb-3" name="password" type="password" minlength="8" required>
      <button class="btn btn-success w-100">Alterar senha</button>
    </form>
  </div></div>
</div></div>
{% endblock %}
